
.collection-card{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.card-content{
    width: 25rem;
    overflow: hidden;
    margin-top: 2rem;
    
}
.card-content img{
    width: 25rem;
    cursor: pointer;
   
}
.card-content img:hover{
    transform: scale(1.4);
    transition: transform ease-in-out 500ms;
}
